- flash.each do |name, msg|
  %div{:class => "card-body list-group-item-#{name.to_s == 'notice' ? 'success' : 'danger'}", :role => "message"}
    %a{"data-dismiss" => "message", :href => "#"}
      %i.fa.fa-times
    = msg
